.notification {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s, transform 0.5s;
    border-radius: 20px;
    padding: 10px;
    width: 500px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.notification_container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    margin-right: 20px;
}

.notification.show {
    opacity: 1;
    transform: translateY(0);
}

.notification.hide {
    opacity: 0;
    transform: translateY(20px);
}

.image {
    width: 80px;
    height: 80px;
    border-radius: 30px;
    background-position: center 20%;
    background-repeat: no-repeat;
    border-radius: 80px;
    background-size: cover;
    position: relative;
}

.content {
    width: 300px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.container {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fio {
    font-size: 25px;
    font-weight: 600;
}

.close {
    position: absolute;
    top: 2px;
    right: 2px;
}

.close:hover {
    cursor: pointer;
}

.notification:hover {
    cursor: pointer;
}
