:root {
    --header-bg-color: #1a73e8;
    --header-logout-color: #000000;
    --header-logo-bg-color: #e0f3ff;
    --header-hover-logo-bg-color: #d0f7ff;
    --header-hover-box-shadow-logo-color: rgba(0, 0, 0, 0.1);
    --header-hover-logo-color: #1a73e8;
    --header-hover-logout-color: #003366;
    --modal-bg-color: rgba(0, 0, 0, 0.5);
    --modal-window-bg-color: #ffffff;
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

body {
    margin: 0 13%;
    background-color: #F5F5F5;
}

.content, .auth_content_sidebar {
    margin-top: 140px;
}

.auth_content_sidebar {
    display: flex;
    position: relative;
}

.auth_content {
    flex: 1;
}
