:root {
    --header-bg-color: #1A73E8;
    --header-logout-color: #000000;
    --header-logo-bg-color: #E0F3FF;
    --header-hover-logo-bg-color: #D0F7FF;
    --header-hover-box-shadow-logo-color: rgba(0, 0, 0, 0.1);
    --header-hover-logo-color: #1A73E8;
    --header-hover-logout-color: #003366;
}

* {
    padding: 0;
    margin: 0;
    font-family: Roboto;
}

body {
    margin: 0 16%;
}

.content {
    margin-top: 100px;
}