.avatar {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.comment {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    display: flex;
    margin-top: 20px;
    padding-top: 20px;
    position: relative;
}

.close {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
}

.close:hover {
    cursor: pointer;
}

.fio_content_date_time {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.fio {
    font-size: 17px;
}

.date_time {
    color: #777777;
    font-size: 15px;
}

.online {
    position: absolute;
    font-size: 15px;
    right: 0px;
    bottom: 5px;
    color: var(--header-bg-color);
}
