.error {
    font-size: 25px;
}

.profile_image {
    width: 200px;
    height: 200px;;
    background-position: center 20%;
    background-repeat: no-repeat;
    border-radius: 80px;
    background-size: 100%;
}

.file_input {
    display: none;
}

.profile_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #E8E8E8;
    padding: 80px 70px;
    border-radius: 60px;
}

.fio {
    font-size: 35px;
    color: #000000;
    font-weight: 600;
}

.email {
    font-size: 25px;
    color: #000000;
    font-weight: 500;
}

.fio_email {
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.other_info {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 25px;
}