.error {
    font-size: 25px;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    background-color: #e8e8e8;
    padding: 60px 70px;
    border-radius: 60px;
}

.posts {
    margin-top: 50px;
    background-color: #e8e8e8;
    padding: 40px 70px;
    border-radius: 60px;
}

.create_post_button {
    margin-top: 40px;
}
